
<header  class="app-header">
   <a class="pull-left btn-navicon btn-back" (click)="back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
   <span class="title"新服务需求清单</span>
   <a class="pull-right btn-navicon btn-select"  (click)="selectArea()"><i class="glyphicon glyphicon-search"></i></a>
</header>

<div>
  <label>调查品种： </label>
    <!-- <input [(ngModel)]="crop" placeholder="调查品种" /> -->
    <select name="cropSelect" id="cropSelect" [(ngModel)]="crop" >
          <option value="林地" selected>林地</option>
          <option value="玉米" >玉米</option>
          <option value="花生" >花生</option>
          <option value="小麦" >小麦</option>
          <option value="水稻" >水稻</option>
    </select>
</div>
<div>
  <label>计划开始时间： </label>
    <!-- <input [(ngModel)]="publishTime" placeholder="计划开始时间" id="datetimepicker"> -->
    <dp-day-picker #dayPicker [(ngModel)]="publishTime" [config]="datePickerConfig"></dp-day-picker>
</div>
<div>
  <label>计划结束时间： </label>
    <!-- <input [(ngModel)]="finishTime" placeholder="计划结束时间" id="datetimepicker"> -->
    <dp-day-picker #dayPicker [(ngModel)]="finishTime" [config]="datePickerConfig"></dp-day-picker>
</div>
<div>
  <button (click)="areaDraw()">验标地块范围</button>
</div>

<div>
  <textarea id="textareaEdit" id="projectDesc" placeholder="服务需求备注"  [(ngModel)]="projectDesc"></textarea>
</div>

<div>
  <input type="checkbox" [(ngModel)]="isUrgent" checked>加急<br>
  <input type="checkbox" [(ngModel)]="is3DModel" checked>生成3D模型<br>
  <input type="checkbox" [(ngModel)]="isReport" checked>需要报告<br>
</div>

<button (click)="newTask()">提交订单</button>

<!-- <div>
  <area-draw [init]=0>
  </area-draw>
</div> -->
