<!-- <h2>服务类型选择</h2> -->
<header class="app-header">
    <a class="pull-left btn-navicon btn-back" (click)="back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <span class="title">服务类型选择</span>
</header>
<p>
  <button class="service2"
    (click)="newServiceRequest(2); $event.stopPropagation()">种植分布调查</button>
</p>

<p>
  <button class="service1"
    (click)="newServiceRequest(1); $event.stopPropagation()">无人机验标</button>
</p>

<p>
  <button class="service3"
    (click)="newServiceRequest(3); $event.stopPropagation()">长势监测</button>
</p>

<p>
  <button class="service4"
    (click)="newServiceRequest(4); $event.stopPropagation()">灾损监测评估</button>

</p>
