<header class="app-header">
    <span class="title">我的任务清单</span>
    <a class="pull-right btn-navicon btn-add" (click)="newServiceRequest()"></a>
</header>
<ul class="tasks">
    <li *ngFor="let task of tasks">
        <div class="panel">
            <div class="panel-body">
                <span class="text-success taskstatus">{{getStatusString(task.status)}}</span>
                <div class="row">
                    <div class="col-xs-3">
                        <img src={{task.thumbnail_URL}} (click)="open(task.id); $event.stopPropagation()" />
                        <!-- <img src="" class="img-rounded"/> -->
                    </div>
                    <div class="col-xs-9 taksproperties">
                        <!--<span class="badge">{{task.id}}</span>-->
                        <p class="taskname">
                            <a (click)="open(task.id); $event.stopPropagation()">{{task.name}}</a>
                        </p>
                        <p>品种: {{task.crop}}</p>
                        <!--<button class="open" (click)="open(task.id); $event.stopPropagation()">打开</button>-->
                        <p>
                            开始时间：{{task.publishTime | date: 'yyyy.MM.dd'}}
                        </p>
                        <p>
                            结束时间：{{task.finishTime | date: 'yyyy.MM.dd'}}
                        </p>
                        <div class="row">

                            <div class="col-xs-8">
                                <!-- <div class="progress">
                <div class="progress-bar " role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax ="100"
                style="min-width: 1.5em; background-color: #1860ca;" [style.width]="(getTaskProcessRate(task.status)/100)*100 + '%'">

                </div> -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" [style.width]="(getTaskProcessRate(task.status)/100)*100 + '%'">
                                        <!-- <span class="sr-only">60% Complete</span> -->
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-4">
                                {{getTaskProcessRate(task.status)}}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-strong">3 天</div>
                    <div class="col-xs-4 text-strong">{{task.acreage}} 亩</div>
                    <div class="col-xs-4 text-strong">{{task.cost/10000}}万元</div>
                </div>
            </div>
        </div>
        <div *ngIf="isShowCancel(task.status)">
            <hr>
            <p class="btn-wrap">
                <button class="btn btn-default cancel" (click)="cancel(task); $event.stopPropagation()" *ngIf="isShowCancel(task.status)">取消订单</button>
            </p>
        </div>
    </li>
</ul>
<!--<button (click)="newServiceRequest()">新服务需求</button>-->
<!-- <div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->