.tasks{
    list-style: none;
    margin:0;
    padding:0;
    background: #efeff5;
}
.tasks li{
    background: #FFFFFF;
    margin-bottom: 1.3rem;
}
.tasks li .panel{
    box-shadow:none;
    position: relative;
    margin-bottom: 0;
}
.tasks li .panel .taskstatus{
    position: absolute;
    top:1.2rem;
    right:0.5rem;
}
.tasks li .panel .taksproperties{
    color: #969696;
    font-size: 0.9rem;
}
.tasks li .panel .taskname a,.tasks li .panel .taskname a:visited{
color:#222222;
text-decoration: none;
font-size: 1.2rem;
font-weight: bold;
}
.tasks li hr{
    margin-top: 0;
}
.tasks li .btn-wrap{
    text-align: right;
    padding: 0 1.2rem 1.2rem 0;
}

.progress {
  background: rgba(255, 255, 255, 1);
  border: 7px solid rgba(255, 255, 255, 1);
  border-radius: 18px;
  height: 18px;
}
.progress-bar-custom {
  background: rgba(32, 95, 212, 1);
}
